body {
    margin: 0;
}

.hero {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url("faded-office.png");
    background-size: cover;
    padding: 30px 0 200px 100px;
}

.title {
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #0ea5e9;
    text-decoration-thickness: 5px;
    text-underline-offset: 6px;
}

.intro {
    font-size: 35px;
    max-width: 500px;
    margin-top: 10px;
}

.btn {
    background-color: #0ea5e9;
    border: none;
    color: white;
    font-size: 30px;
    padding: 25px 45px;
    font-weight: bold;
    margin-top: 12px
}
